body {
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/b9/cc/c1/b9ccc1bbbe6a5e205ce3a0bbd8637c7e.jpg');
  background-size: cover;
}
.block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}
.colorRow {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
#gridContainer {
  display: flex;
}
#subGrid{
 vertical-align: bottom;
 max-width: 167px;
}
#colorGrid {
  margin-right: 100px;
  -webkit-column-count: 2;
  margin-left: 4px;
  -webkit-column-gap: 0px;
}
button {
  border-radius: 12px;
  background-color: #ffffff;
}

#leftContainer{
  max-width: 166px;
}


#leftContainer{

  max-width: 166px;
}



#chosenColor{
  width: 61px;
  height: 61px;
  border: 1px solid black;
  position: inherit;
  margin: 4px;
  margin-top: 10px;
}
button {
  border-radius: 12px;
  vertical-align: top;
}
#erase {
  padding-top: 10px;
  vertical-align: center;
  margin-top: 5px;

}
#clear {
padding-top: 10px;
margin-right: 40px;
margin-top: 5px;
}
#refreshColors {
padding-top: 10px;
margin-top: 5px;
vertical-align: center;
}
#removeGridlines {
padding-top: 5px;
margin-top: 5px;
vertical-align: center;
}

.favColor{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}

#colorNotification {
  display: none;
  font-family: 'VT323', ;
  font-size: 12px;
  padding: 5px;
  text-transform: uppercase;
}

#favoriteColors:hover #colorNotification {
display: block;
vertical-align: bottom;
}

#favoriteColors{
  margin-top: 21px;
  margin-left: 7px;
}

h2{
  font-family: 'VT323', font-weight: 400;
}
#bob{
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 9;
  align-self: flex-end;
  width: 30%;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -o-animation: fadein 5s;
}
@keyframes fadein { from { opacity:0; } to { opacity:1;}}
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1;}}
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1;}}
@-o-keyframes fadein { from { opacity:0; } to { opacity:1;}}
img{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    -webkit-user-drag: none;
}