.block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}

.colorRow {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

#gridContainer {
  display: flex;

}

#colorGrid {
  margin-right: 100px;
  -webkit-column-count: 2;
  margin-left: 4px;
  -webkit-column-gap: 0px;
}

#chosenColor{
    width: 61px;
  height: 61px;
  border: 1px solid black;
  position: fixed;
  top: 380;
  left: 12;
}

#erase {
    position: fixed;
    top: 450;
    left: 12;

}

#clear {
  position: fixed;
  top: 470;
  left: 12;
}