body {
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/b9/cc/c1/b9ccc1bbbe6a5e205ce3a0bbd8637c7e.jpg');
  background-size: cover;
}

#leftContainer {
  max-width: 150px;
}

#canvasGrid {
  /*background-color: red;*/
}

.block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  /*background-color: ;*/
}

.colorRow {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

#gridContainer {
  display: flex;

}

#colorGrid {
  max-width: 83px;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  margin-right: 88px;

}

button {
  border-radius: 12px;
  background-color: #ffffff;
}

#chosenColor{
  width: 61px;
  height: 61px;
  border: 1px solid black;
  /*position: fixed;*/
  /*top: 420;
  left: 12;*/
  background-color: #ffffff;
}

#erase {
    /*position: fixed;
    top: 520;
    left: 12;*/
    /*vertical-align: center;*/

}

#clear {
/*   position: fixed;
top: 490;
left: 12; */
}

#refreshColors {
  /*position: fixed;
  top: 550;
  left: 12;*/
}

#removeGridlines {
 /* position: fixed;
  top: 580;
  left: 12;*/
}


h2{
  font-family: 'VT323', font-weight: 400;
}

#bob {
  position: absolute;
    bottom: 0;
    right:0;
    z-index: 9;
    align-self: flex-end;
    max-height: 350px;
    max-width: auto;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

img{
       -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}